<div class="post">
	<h1><%= @post.title %></h1>
	<small><%= @post.created_at.strftime("%d %b %Y") %></small>
	<p><%= @post.body %></p>
	<p>Category: <strong><%= link_to @post.category.name,category_path(:id => @post.category.id) %></strong></p>
	<p><%= link_to "Back", posts_path %></p>
</div>